{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

        <!-- Carousel -->
        
        <hr class="hrmargindouble">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                        {% for acceuils in acceuils %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" {{ loop.first ? 'class="active"' : '' }}></li>  
                        {% endfor %}
                </ol>
                <div class="carousel-inner image-rognage carousel-acceuil">
                        {% for acceuil in acceuils %}
                                <div class="carousel-item {{ loop.first ? 'active' : '' }}">
                                        <img class="d-block w-100 img-fluid centre" src="{{acceuil.image}}" alt="{{ acceuil.titre }}">
                                </div>
                        {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon carousel-control-show" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                </a>
        </div>
        <hr class="hrarticle">

        <!-- Block Footer -->

        <center>
        <div class="blocfooter">
                <div class="sousblocfooter">
                                <img src="https://i.ibb.co/Q6X0BZp/Noirtransparent.png" alt="" class="logoblanc"/>
                </div>
                <div class="sousblocfooter">
                        <div>+33741881818</div>
                        <div>shadow-projet@entreprise.fr</div>
                        <div>67000 Strasbourg, 10 rue des champs, FRA </div>
                </div>
        </div>
        <div class="logoreseau">
                <a href=""><i class="fab fa-linkedin-in fa-2x black"></i></a>
                <a href=""><i class="fab fa-tiktok fa-2x black"></i></a>
        </div>
        </center>

        <!-- Copyright-->

        <hr class="hrmargindouble">
        <div class="copyright black">
                <div>2021 SHADOW ARCHITECTURE. ALL RIGHTS RESERVED.</div>
                <div>DESIGNED BY SHADOW THEMES.</div>
        </div>
        <hr class="hrmargindouble">
{% endblock %}