{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
      
        <!-- Title -->
        <hr class="hrmargindouble">
        <div class="titre titregalerie img-fluid">
                <div class="green">|</div>
                <div>CONTACT</div>
        </div>
        <hr>

        <center>
        <br>
                <h1>Location Google Map</h1>
        <br>
        <hr class="hrmargintop">
        </center>
        <center>
                <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2640.729783719279!2d7.7452783158455745!3d48.55756982979409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c99f3ec05005%3A0x619bae5e5e655757!2s202%20Av.%20de%20Colmar%2C%2067100%20Strasbourg!5e0!3m2!1sfr!2sfr!4v1629362025105!5m2!1sfr!2sfr" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </center>
        <center>
        <hr class="hrmarginbot">
        <br>
                <h1>Formulaire de Contact</h1>
        <br>
        <hr class="hrmargindouble">
        </center>

        <br>
        <center>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdsVMyeKKzyHRuIjl9PAu0t6K69M7RMa08CS9otli7i-b5Jig/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
        </center>
        <br>

        <!-- Copyright-->

        <hr class="hrmargindouble">
        <div class="copyright black">
                <div>2021 SHADOW ARCHITECTURE. ALL RIGHTS RESERVED.</div>
                <div>DESIGNED BY SHADOW THEMES.</div>
        </div>
        <hr class="hrmargindouble">
{% endblock %}